table{
    border-radius: 10px;
    margin: auto;
    margin-top: 50px;
    background: black;
    height: 70vh;
    width: 30vw;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 1);
}
table input{
    height: 100%;
    width: 100%;
    background: white;
    outline: none;
    border: none;
}
thead th{
    overflow: hidden;
    border-radius: 10px;
    height: 50px;
}
tbody th{
    color: white;
    border-radius: 10px;
}
tbody th:active{
    transform: scale(0.95);
}

@media (max-width: 430px) {
   table{
    height: 80vh;
    width: 85vw;
   }
    
}